body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
}
#options{
    margin: auto;
    width:90%;
    display: flex;
    justify-content: space-between;
}
#options>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(47, 47, 47);
    font-size: min(1.2vw, 0.95rem);
    box-sizing: border-box;
    font-family: sans-serif;
    padding: clamp(0.2em, 0.5vw, 0.5em) clamp(0.2em, 0.5vw, 0.64em);
    align-content: center;
    border-radius: 8px;
    text-decoration-color: rgb(47, 47, 47);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: semibold;
}
/* icons */
#icons {
    /* border: 1px solid red; */
    width: 11%;
    max-width: 12%;
    position: absolute;
    top: 3%;
    right: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3rem;
}


